/* Super cool css sheet. Font Alte Haas Grotesk */

body {
    font-family: 'Alte Haas Grotesk', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    /*  change font color */
}

.nav-list li {
    margin-right: 100px;
    
}